.container {
    display: flex;
    flex-direction: row;
    
    width: 100%;
   
    padding: 10px;
   
    box-sizing: border-box;
    
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
}

#box {
    width: 325px;
    height: 307px;
    background-color: #D9D9D9;
    display: flex;
    align-items: flex-start;
    object-fit: cover;
    margin: 10px;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}

#box > img {
    height: 200px;
    width: 100%;
}


#box > h1{
    font-size: 15px;
    padding-left: 5px;
}

#box > h2 {
    margin-top: -8px;
    font-size: 10px;
    text-wrap:initial ;
    padding-left: 5px;
    color: gray;
}

#container-interactions > button {
    
    border: 0px;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 5px;
}

#container-interactions {
    display: flex;
    gap: 10px;
}


#repository{
    background-color: rgba(92, 92, 92, 0.671);
}

#know-more{
    background-color: #d7eef8;
}